<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="myStyle.css">
    <title>PDAV</title>
</head>

<body>
    <div class="bg-info header1 ">
        <h1 class="flex items-center justify-center text-center px-5 text-3xl font-bold lg:text-5xl ">Police DAV Public
            School</h1>
        <h4 class="flex items-center justify-center text-center px-5 text-2xl lg:text-3xl pt-3">Amritsar, Punjab</h4>
        <h5 class="flex items-center justify-center text-center px-5 text-1xl lg:text-2xl pt-2">Affiliated by CBSE</h5>
    </div>
    <div class="form1 pt-3  ">
        <div class="flex items-center justify-center text-center ">
            <h1>Student Interface</h1>
        </div>
    </div>



</body>

</html>